body {
    margin: 0;
    paddding:0;
    background-color:#F0F0F0;
}

.wrapper {
    position: absolute;
    top: 20%;
    left: 40%;
    border: 4px solid grey;
    border-radius: 10px;
}

input[type=button] {
    border: 1px solid grey;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor:pointer;
    border-radius: 5px;
    background-color: grey;
    color: white;
}

input:hover{
    background-color: #F0F0F0;
    color:grey;
}

input[name=textview] {
    border: 1px solid grey;
    width:200px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    font-size: 25px;
    background-color: grey ;
    color: #F0F0F0;
    border-radius: 5px;

}

input[name=textview]:hover {
    background-color: #F0F0F0;
    color:grey;

}



